.viewParentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.viewParentDiv .imageShowDiv {
  align-self: center;
  padding: 16px;
  min-width: 70%;
  max-width: 70vw;
}

.viewParentDiv .rightSection {
  display: flex;
  padding: 1rem;
  gap: 10px;
  margin-top: 3em;
}

.viewParentDiv .rightSection .childElement {
  grid-column: span 2;
}
.viewParentDiv .rightSection .childElement .buttonClass:hover {
  background-color: #004a51;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.539);
}

@media (max-width: 750px) {
  .viewParentDiv .rightSection {
    flex-direction: column;
  }
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  border: 1px solid rgb(106, 106, 106);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2em;
  width: 100%;
  height: min-content;
}

.viewParentDiv .rightSection .contactDetails {
  height: min-content;
  width: 100%;
  border: 1px solid rgb(106, 106, 106);
  padding: 1rem;
  border-radius: 10px;
}

.viewParentDiv .rightSection .contactDetails .sellerDetails {
  font-size: large;
  line-height: 24px;
  font-weight: bold !important;
  color: #000000;
  font-weight: 400;
  padding-bottom: 8px;
}
